@import url(https://fonts.googleapis.com/css?family=Khula:400,300,600,700,800);


svg {
    margin: auto;
    display:block;
    font-family: 'Khula', sans-serif;
    font-weight:400;
}

.axis path, .axis line {
    fill: none;
    stroke: #ABB7B7;
    stroke-width: 0.5px;
}

.axis text {
    font-size: 11px;
}

.axis {
    display : block;
}

.skillContainer {
    display : block;
}

line, circle {
    stroke : #1824F7;
    stroke-width : 0.5px;
}


.sectionName {
    text-transform: uppercase;
    font-size: 13px;
    fill: #3B3006;
}
